.cardStyle {
  // float: left;
  display: block;
  // padding: 2rem;
  margin: 0.5rem;
  width: 30%;
  // background: #c62168;
  border-radius: 5px;
  &:nth-child(3n + 1) {
    // clear: left;
    // background: #f1ea7f;
  }
  &:nth-child(2n + 2) {
    // background: #ff6f61;
  }
  .region {
    font-style: italic;
  }
  .stars {
    color: #000;
  }
}
